[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyside2" = "*"
kanjivg-gif = {git = "https://github.com/Yorwba/kanjivg-gif"}

[dev-packages]

[requires]
python_version = "3.6"
